/* Colors */

$mainbgcolor: #272B2E;
$mainfgcolor: #DDDDDD;
$mainaccentcolor: #FFCD00;

/* Styles */
/*
html {
    background-color: $mainbgcolor;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
*/